[submodule "Libraries/MX_Alps_Hybrid"]
	path = Libraries/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
[submodule "Libraries/random-keyboard-parts.pretty"]
	path = Libraries/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "Libraries/Type-C.pretty"]
	path = Libraries/Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty
[submodule "Libraries/WS2812B.pretty"]
	path = Libraries/WS2812B.pretty
	url = https://github.com/ai03-2725/WS2812B.pretty
[submodule "Libraries/keyswitches.pretty"]
	path = Libraries/keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty
[submodule "Libraries/AcheronLibrary"]
	path = Libraries/AcheronLibrary
	url = https://github.com/AcheronProject/AcheronLibrary
[submodule "3D Model/KeyV2"]
	path = 3D Model/KeyV2
	url = https://github.com/rsheldiii/KeyV2
[submodule "3D Models/KeyV2"]
	path = 3D Models/KeyV2
	url = https://github.com/rsheldiii/KeyV2
